/*-------------------------------------------*/
/* Basic Setup */
/*-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #555;
  font-family: "lato", "Arial", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
/*------------------- ReUsual Components ---------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
/*-------------- Heaadaings -------------------*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  margin-bottom: 2%;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  font-size: 180%;
  margin-bottom: 3%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 20px;
  font-weight: 400;
}

h2::after {
  content: " ";
  height: 2px;
  width: 100px;
  background-color: rgb(233, 142, 23);
  display: block;
  margin: 0 auto;
  margin-top: 3%;
}

/*--------- Pargaraph ----------------*/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

/*----------------- icons------------ */
.big-icon {
  font-size: 400%;
  color: rgb(233, 142, 23);
  margin-bottom: 10px;
}
.small-icon {
  color: rgb(233, 142, 23);
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}
/*----------------- Links------------ */
a {
  text-decoration: none;
  color: rgb(233, 142, 23);
  border-bottom: 1px solid rgb(233, 142, 23);
  padding-bottom: 1px;
  transition: border-bottom 0.2s;
}
a:hover {
  border-bottom: 0px solid transparent;
  color: #555;
}
/*----------------- Header area ---------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.hero-img-txt {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-------------- Button Area ---------------*/

.btn,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 25px;
  margin: 0% 1% 0% 0;
  transition: 0.3s;
}
.first-btn,
input[type=submit] {
  background-color: rgb(233, 142, 23);
  color: #fff;
}
.first-btn:hover,
input[type=submit]:hover {
  background-color: rgb(199, 122, 22);
}
.second-btn {
  border: 1px solid rgb(233, 142, 23);
  color: rgb(233, 142, 23);
}
.second-btn:hover {
  background-color: rgb(233, 142, 23);
  color: #fff;
}
.hover-white:hover {
  color: #fff;
}


/* --------------Navbar ----------------*/
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav {
  float: right;
  list-style-type: none;
  margin-top: 60px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 90%;
  text-transform: uppercase;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}
.main-nav li a:hover {
  border-bottom: 2px solid rgb(233, 142, 23);
}
/*-------------------------------------------*/
/* Feature section */
/*-------------------------------------------*/
.features-section .long-copy {
  padding-bottom: 30px;
}

/*-------------------------------------------*/
/* Meal section */
/*-------------------------------------------*/
.meal-section {
  padding-bottom: 0;
}
.meal-showcase {
  list-style: none;
  width: 100%;
}
.meal-showcase li {
  display: block;
  width: 25%;
  float: left;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.meal-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;
}
.meal-photo img:hover {
  transform: scale(1);
  opacity: 1;
}
/*-------------------------------------------*/
/* How It works section */
/*-------------------------------------------*/
.section-steps {
  background-color: #f4f4f4;
  margin: 0;
}
.phone {
  width: 40%;
}
.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.step-box:last-child {
  padding-left: 3%;
  margin-top: 80px;
}
.work-step {
  padding-bottom: 9%;
}
.work-step:last-of-type {
  margin-bottom: 40px;
}
.work-step div {
  color: rgb(233, 142, 23);
  height: 50px;
  width: 50px;
  border: 1px solid rgb(233, 142, 23);
  border-radius: 50%;
  text-align: center;
  font-size: 150%;
  padding: 5px;
  display: block;
  float: left;
  margin-right: 4%;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 15px;
}
.btn-app {
  border: 0;
}
/*-------------------------------------------*/
/* City Section */
/*-------------------------------------------*/
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.city-feature {
  margin-bottom: 10px;
}
/*-------------------------------------------*/
/* Testimonial Section */
/*-------------------------------------------*/
.testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../resources/img/back-customers.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  background-attachment: fixed;
}
blockquote {
  font-style: italic;
  text-align: justify;
  line-height: 140%;
  padding: 2%;
  position: relative;
}
blockquote::before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  margin-top: 10%;
  display: block;
}
cite img {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5%;
}
/*-------------------------------------------*/
/* Pricing Section */
/*-------------------------------------------*/
.pricing-section {
  background-color: #f4f4f4;
}
.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  color: rgb(233, 142, 23)
}
.plan-price span {
  font-size: 50%;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 1px 4px 15px rgb(129 129 129);
}
.plan-box div:first-child {
  background-color: rgb(238, 237, 237);
  border-top-right-radius: 50px;
}
.plan-box div:last-child {
  text-align: center;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid rgba(230, 226, 226, 0.781);
}

.plan-box div ul {
  list-style: none;
}
.plan-box div li {
  padding: 5px 0;
}
/*-------------------------------------------*/
/* Form Section */
/*-------------------------------------------*/
.form-area {
  width: 60%;
  margin: 0 auto;
} 
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
 font-weight: 300;
}
textarea {
  height: 100px;
}
input[type=checkbox] {
  margin: 10px 5px 10px 0px;
}

*:focus {
  outline: none;
}
input[type=submit] {
  border: 0;
}
/*-------------------------------------------*/
/* FooterSection */
/*-------------------------------------------*/

footer {
  background: rgba(0, 0, 0, 0.877);
  padding: 50px;
  font-size: 80%;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-link {
  list-style: none;
  float: right;
}
.social-link li a {
  font-size: 130%;
}
.footer-nav li,
.social-link li {
  display: inline-block;
  margin-right: 25px;
}
.footer-nav li:last-child,
.social-link li:last-child {
  margin-right: 0;
}
.footer-nav li a,
.social-link li a {
  border: 0;
  color: rgb(105, 105, 105);
  transition: color 0.2s;
}
.footer-nav li a:hover {
  color: #ccc;
}
footer p {
  text-align: center;
  margin-top: 20px;
  font-size: 80%;
  color: rgba(204, 204, 204, 0.63);
}
.social-icon-facebook,
.social-icon-twitter,
.social-icon-linkedin,
.social-icon-instagram {
  transition: color 0.2s;
}

.social-icon-facebook:hover {
  color: #3b5998;
}
.social-icon-twitter:hover {
  color: #55acee;
}
.social-icon-linkedin:hover {
  color: #007bb5;
}
.social-icon-instagram:hover {
  color: #e95950;
}